@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #fff;
}

/* Main - temporary */
main {
  padding: 1em;
}

/* CSS Variables for colors */
:root {
  --test-border-color: lightgrey;
}

/* ---------- Navigation [Dev: Josue]------- */

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5em;
  padding: 0.5em;
  height: 2.25em;

  box-shadow: 0px 1px 1px grey;
}

.logo {
  font-size: 1.25em;
  font-weight: 700;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/* ---------- End of Navigation [Dev: Josue]--------- */

/* ---------- Start of Animated House [Dev: Ashley]------- */

#animated-house {
  border: 1px solid var(--test-border-color);
  width: 100%;
  padding: 1.25em;
}

/* ---------- End of Animated House [Dev: Ashley]--------- */
/* ---------- Start of HOME PRICE [Dev: Ashley] ---------- */

/* home input box style */
#home-price-container .wrapper {
  padding: 0.5em;
}
#home-price-input {
  height: 40px;
  position: relative;
  width: 210px;
  font-size: 1rem;
  line-height: 1.75;
  border: 1px solid #cfcfd4;
  font-weight: bold;
}

#home-price-input::-webkit-outer-spin-button,
#home-price-input::-webkit-inner-spin-button {
  /*removes the up down cursor in the input box */
  -webkit-appearance: none;
}

#home-price label {
  display: block;
}

/* home price slider */

#home-price-container {
  border: 1px solid var(--test-border-color);
  width: 100%;
  padding: 1.25em;
}
#slidecontainer {
  width: 100%;
}

#slidecontainer .wrapper {
  padding: 0.5em;
}

#home-price-slider {
  /* the style for the slider */
  margin: 15px 0 15px 0;
  -webkit-appearance: none;
  appearance: none;
  width: 210px;
  height: 5px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#home-price-slider:hover {
  /* indicates that a cursor is over the slider */
  opacity: 1;
}
/*style for the circle that moves up and down the slier */
#home-price-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #000099;
  cursor: pointer;
}

#home-price-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000099;
  cursor: pointer;
}

/* ---------- Start of Down Payment, Length of Loan, Interest Rate [Dev: Josue] ---------- */

#loan-parameter-inputs {
  border: 1px solid var(--test-border-color);
  width: 100%;
  padding: 1.25em;
}

#loan-parameter-inputs .wrapper {
  padding: 0.5em;
}

#loan-parameter-inputs label {
  display: block;
  margin-bottom: 0.25em;
}

#loan-parameter-inputs input,
select {
  border: 1px solid #cfcfd4;
  line-height: 1.75;
  font-size: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.5rem;
  font-weight: bold;
}

.grid-1 {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    'label  label'
    'amt    pct';
}

#down-payment-label {
  grid-area: label;
}

#down-payment-amt {
  grid-area: amt;
  width: 100%;
}

#loan-parameter-inputs input #down-payment-amt {
  padding-left: 10px;
}

#down-payment-pct {
  grid-area: pct;
  width: 50%;
}

/* ---------- End of Down Payment, Length of Loan, Interest Rate ---------- */

/* ---------- Start of Estimated Payment (Full) [Dev: Ashley] ------------------- */
#monthly-payment {
  border: 1px solid var(--test-border-color);
  width: 100%;
  padding: 1.25em;
}

#monthly-payment .wrapper {
  padding: 0.5em;
}

#monthly-payment-input {
  height: 40px;
  position: relative;
  width: 210px;
  font-size: 1rem;
  line-height: 1.75;
  border: 1px solid #cfcfd4;
  font-weight: bold;
}

#monthly-payment-input::-webkit-outer-spin-button,
#monthly-payment-input::-webkit-inner-spin-button {
  /*removes the up down cursor in the input box */
  -webkit-appearance: none;
}

#monthly-payment label {
  display: block;
}

/* monthly payment slider */

#monthly-slider-container {
  width: 100%;
}

#monthly-payment-slider {
  /* the style for the slider */
  margin: 15px 0 15px 0;
  -webkit-appearance: none;
  appearance: none;
  width: 210px;
  height: 5px;
  background: grey;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#monthly-payment-slider:hover {
  /* indicates that a cursor is over the slider */
  opacity: 1;
}
/*style for the circle that moves up and down the slier */
#monthly-payment-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background: #000099;
  cursor: pointer;
}

#monthly-payment-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000099;
  cursor: pointer;
}
/* --------------End of Estimated Payment (Full)----------------------------*/

/* --------------Start of Estimated Payment (Sticky) [Dev: Ashley] ------------------------*/
#monthly-payment-sticky-container {
  border: 1px solid var(--test-border-color);
  width: 100%;
  padding: 1.25em;
}

#monthly-payment-sticky .wrapper {
  padding: 0.5em;
}

#monthly-payment-sticky-input {
  height: 40px;
  position: relative;
  width: 210px;
  font-size: 1rem;
  line-height: 1.75;
  border: none;
  font-weight: bold;
}

#monthly-payment-sticky-input::-webkit-outer-spin-button,
#monthly-payment-sticky-input::-webkit-inner-spin-button {
  /*removes the up down cursor in the input box */
  -webkit-appearance: none;
}

#monthly-payment-sticky label {
  display: block;
}
/* ---------------End of Estimated Monthly Payment (Sticky)-------------------- */
/* -------------- Start of Payment Graph----------------------------------- */

#payment-graph {
  border: 1px solid var(--test-border-color);
  width: 100%;
  padding: 1.25em;
}
/* ---------- End of Payment Graph---------------------------- */
/* ---------- START of Estimated Monthly Payment (Full) [Dev: Josue] ------------------- */

#mthly-payment-inputs {
  border: 1px solid var(--test-border-color);
  width: 100%;
  padding: 1.25em;
}

#mthly-payment-inputs .wrapper {
  padding: 0.5em;
}

#mthly-payment-inputs label {
  display: block;
  margin-bottom: 0.25em;
}

#mthly-payment-inputs input,
select {
  border: 1px solid #cfcfd4;
  line-height: 1.75;
  font-size: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.5rem;
  font-weight: bold;
}

#mthly-payment-inputs .legend {
  border: 1px solid grey;
}

#mthly-payment-inputs .legend:nth-child(2) {
  color: var(--test-border-color);
}

/* ----- START of Showing Advanced Options w/ Button [Dev: Hugo] ---------- */
#advanced-options-button::before {
  content: 'Show advanced options';
}

#advanced-options-button {
  margin: 16px 0px 0px 2px;
  /* display: none; */
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #3139f2;
}

#advanced-options-button:hover {
  text-decoration: underline;
}

/* ---------- END of Estimated Monthly Payment (Full) ------------------- */

@media screen and (min-width: 1135px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      'an an mnly mnly mnly mnly sty sty'
      'hm hm . . . . . .'
      'ln ln gph gph gph inp inp inp';
  }

  .item-1 {
    grid-area: an;
  }

  .item-2 {
    grid-area: hm;
  }

  .item-3 {
    grid-area: ln;
  }

  .item-4 {
    grid-area: mnly;
  }

  .item-5 {
    grid-area: sty;
  }

  .item-6 {
    grid-area: gph;
  }

  .item-7 {
    grid-area: inp;
  }
}

/* contact page css */

.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 80%;
  margin: 1.8em;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text-container {
  padding: 2px 16px;
}

button {
  margin-bottom: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.personal-links img {
  margin: 1.25em;
  width: 2.8em;
  height: 2.8em;
}

.card-developer {
  padding: 1.5em 3.3em 1.5em 3.3em;
}
