@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #fff;
}

/* CSS Variables for colors */
:root {
  --test-border-color: white;
}

/* NAVIGATION */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.75em;
  height: 3.25em;
  background-color: #4285f4;
  color: white;
  box-shadow: 0px 1px 1px grey;
}

.logo {
  font-size: 1.5em;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}

nav ul li {
  margin-left: 15px;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  font-size: 1.15em;
  font-weight: 300;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/* TAGLINE */

#tag-line {
  background: #126bda;
  padding: 3em 1.5em;

  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  align-items: center;
}

#tag-line h1 {
  font-size: 2.75em;
  font-weight: 700;
}

#tag-line p {
  font-size: 2em;
}

/* MORTGAGE CALCULATOR */
#simple-form {
  padding: 1.5em;
}

#simple-form .container {
  background: white;
  padding: 1em;
  height: 100%;
}

#simple-form .container h1 {
  margin-bottom: 2em;
  color: grey;
  font-weight: unset;
  margin-top: 2em;
}
/* INPUT LAYOUT */
#simple-form .container label {
  display: block;
  width: 100%;
  max-width: 100%;
  color: grey;
}

#simple-form .container input,
select {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 1px solid #cfcfd4;
  line-height: 1.75;
  font-size: 1rem;
  padding: 0.4rem 0.8rem 0.4rem 0.5rem;
  font-weight: bold;
  margin-bottom: 1.5em;
}

#simple-form .container input::-webkit-outer-spin-button,
#simple-form .container input::-webkit-inner-spin-button {
  /*removes the up down cursor in the input box */
  -webkit-appearance: none;
}

#simple-form .container #disclaimer {
  margin-top: 5em;
  color: grey;
}

#simple-form .container #disclaimer span {
  font-size: 1.15em;
}

.form-group {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -1rem 1rem -1rem;
}

[class*='form-col'] {
  flex: 0 1 100%;
  padding: 0 1rem;
}

.form-col-9 {
  flex: 0 1 75%;
  padding: 0 1rem;
}

.form-col-10 {
  flex: 0 1 25%;
  padding: 0 1rem;
}

@media (min-width: 576px) {
  .form-col-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  .form-col-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }

  .form-col-9 {
    flex: 0 0 50.0000025%;
    max-width: 50.0000025%;
  }

  .form-col-10 {
    flex: 0 0 16.6666675%;
    max-width: 16.6666675%;
  }

  .offset-form-col-4 {
    margin-left: 33.33333%;
  }
}

@media screen and (min-width: 1135px) {
  .grid-cell-one {
    grid-area: nav-bar;
  }

  .grid-cell-two {
    grid-area: tag-line;
  }

  .grid-cell-three {
    grid-area: simple-form;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'nav-bar nav-bar'
      'tag-line simple-form';
  }

  /* Add image for larger screens */
  #tag-line {
    background-image: url('../img/house.jpg');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

    padding-top: 25%;
    align-items: unset;
  }

  #tag-line h1 {
    font-size: 3em;
  }

  #tag-line p {
    font-size: 1.75em;
  }

  /* MORTGAGE CALCULATOR */
  #simple-form {
    padding: 1.5em;
    background: #cee2f3;
  }
}

@media all and (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  nav ul.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}

/* contact page css */

.card {
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  max-width: 80%;
  margin: 1.8em;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.text-container {
  padding: 1.5em;
  color: white;
  background-color: #126bda;
}
.text-container h4 {
  margin: 0.5em;
}
button {
  margin-bottom: 5px;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
}

.card-developer {
  padding: 1.5em 3.3em 1.5em 3.3em;
}

#contact-form p {
  padding: 1em;
  color: grey;
}

/* Developer Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.personal-links img {
  margin: 1.25em;
  width: 2.8em;
  height: 2.8em;
}

/* The Close Button */
.close-dev {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-dev:hover,
.close-dev:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.close-contact {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-contact:hover,
.close-contact:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
