/* Hamburger Menu */

.hamburger {
  background-color: transparent;
  border: 0;
  color: #fff;
  font-size: 20px;
  display: none;
}

.hamburger:focus {
  outline: none;
}

/* Hamburguer Menu Media Query */
@media all and (max-width: 1024px) {
  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
  }

  #hamburger {
    position: relative;
    display: block;
  }

  nav span#closebtn {
    opacity: 0;
    margin-left: 49rem;
    font-size: 30px;
    z-index: 1;
  }

  .show-overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #13294b;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 1.6s;
  }

  /* .nav-ul-updated {
      position: relative;
      width: 100%;
      text-align: center;
    } */

  .nav-ul-links {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 2s;
    text-align: center;
  }

  /* .hamburger-updated {
      height: 6rem;
      margin-right: 1.4em;
      font-size: 30px;
    } */

  /* End of Hamburguer Button Media Query */
}
